<h1>Modern Conquest</h1>
<div>Email: <input type='email' id='email' /></div>
<div>Password: <input type='password' id='password' /></div>
<div>Username: <inpt type='' id='' /></div>
<div>Branch: </div>